@model DOWTank.Controllers.DailyDispatchPostModel
@{
    ViewBag.Title = "Daily Dispatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-2">Daily Dispatch</h4>
        </div>
        <div class="col-md-12 nopadding">
            <span class="ml20">This report dispalys a summary of tank moves for a particular day.</span>
        </div>
    </div>
    @*report criteria*@
    @using (Html.BeginForm("DailyDispatch", "Report", FormMethod.Post))
    {
        <div class="row mt20 mb20">
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3">
                        <label>Start Date:</label>
                        <input type="text" name="StartDate" id="StartDate" value="@Model.StartDate.ToShortDateString()" class="form-control" />
                    </div>
                </div>
            </div>
            <!--save button-->
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default btn-primary" value="Run Report" />
                    </div>
                </div>
            </div>

        </div>
    }

</div>

<!--script-->
@section scripts
{
    <script>

        $(function () {

            $("#StartDate").datetimepicker({
                format: 'm/d/Y'
            });

        });

    </script>
}

