@model DOWTank.Controllers.LastTankMovePostModel
@{
    ViewBag.Title = "Last Tank Move";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Last Tank Move</h4>
        </div>
        <div class="col-md-12 nopadding">
            <span class="ml20">This report displays a summary of the last move for each tank.</span>
        </div>
    </div>
    @*report criteria*@
    @using (Html.BeginForm("LastTankMove", "Report", FormMethod.Post))
    {
        <div class="row mt20 mb20">
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3">
                        <label>Pool:</label>
                        @Html.DropDownList("PoolFL", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <!--save button-->
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default btn-primary" value="Run Report" />
                    </div>
                </div>
            </div>

        </div>
    }

</div>

