
@{
    ViewBag.Title = "Last Chassis Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-2">Last Chassis Location</h4>
        </div>
        <div class="col-md-12 nopadding">
            <span class="ml20">This report displays the last known location for all chassis.</span>
        </div>
    </div>
    @*report criteria*@
    @using (Html.BeginForm("LastChassisLocation", "Report", FormMethod.Post))
    {
        <div class="row mt20 mb20">
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default btn-primary" value="Run Report" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>

