@model DOWTank.Controllers.TankCostToDatePostModel
@{
    ViewBag.Title = "Tank Cost To Date";
}
<div class="well well-lg">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Tank Cost To Date</h4>
        </div>
        <div class="col-md-12 nopadding">
            <span class="ml20">Detailed information about all tanks in inventory.</span>
        </div>
    </div>
    @*report criteria*@
    @using (Html.BeginForm("TankCostToDate", "Report", FormMethod.Post))
    {
        <div class="row mt20 mb20">
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3">
                        <label>Start Date:</label>
                        <input type="text" name="StartDate" id="StartDate" value="@Model.StartDate.ToShortDateString()" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3">
                        <label>End Date:</label>
                        <input type="text" name="EndDate" id="EndDate" value="@Model.EndDate.ToShortDateString()" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3">
                        <label>Owner:</label>
                        <input id="ddlOwner" name="OwnerID" type="hidden" style="width: 100%; box-sizing: border-box;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3">
                        <label>Operator:</label>
                        <input id="ddlOperator" name="OperatorID" type="hidden" style="width: 100%; box-sizing: border-box;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-3 mb20">
                        <label>Pool:</label>
                        <select name="PoolFL" class="form-control">
                            <option selected="selected" value="-1">-All-</option>
                            <option value="1">Pool</option>
                            <option value="0">Non</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--save button-->
            <div class="form-group">
                <div class="row no-row-margin">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default btn-primary" value="Run Report" />
                    </div>
                </div>
            </div>

        </div>
    }
</div>

<!--script-->
@section scripts
{
    <script>

        $(function () {

            $("#StartDate").datetimepicker({
                format: 'm/d/Y'
            });
            $("#EndDate").datetimepicker({
                format: 'm/d/Y'
            });

            //ddlOwner
            $("#ddlOwner").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Report/PopulateOwnerDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

            //ddlOperator
            $("#ddlOperator").select2({
                minimumInputLength: 0,
                cache: false,
                ajax: {
                    url: "/Report/PopulateOperatorDDL",
                    dataType: 'json',
                    quietMillis: 650,
                    data: function (term) {
                        return {
                            searchTerm: term // search term
                        };
                    },
                    results: function (data) {
                        return { results: data };
                    }
                }
            });

        });

    </script>
}
