@{
    ViewBag.Title = "Home Page";
}
<div class="well well-lg" style="height: 450px;">
    <!--title-->
    <div class="row">
        <div class="col-md-12 nopadding">
            <h4 class="dow-color col-md-6">Landing Page</h4><span>contents coming soon...</span>
        </div>
    </div>
</div>
