@{
    ViewBag.Title = "Tank History";
}
<div class="well well-lg">
    <!--title-->
    <div class="row mt10 mb20">
        <div class="col-md-12">
            <h4 class="dow-color">Tank History</h4>
        </div>
    </div>
    <!--/title-->

    <div class="row mt10 mb10">
        <div class="col-md-1">
            Tank #:*
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="button" class="btn btn-default btn-primary" value="Search" />
        </div>
    </div>

    <div class="row mt20">
        <div class="row no-margin">
            <div class="col-md-12">
                <h4>Tank Information</h4>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered table-responsive table-hover" id="tblTankInformation">
                    <thead>
                        <tr>
                            <th>Facility</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Freeport
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered table-responsive table-hover" id="tblTankInformation">
                    <thead>
                        <tr>
                            <th>Last Product</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Propionic Acid
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt10">
        <div class="row no-margin">
            <div class="col-md-12">
                <h4>Moves</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Search Column:
        </div>
        <div class="col-md-3">
            <select class="form-control"></select>
        </div>
        <div class="col-md-1">
            Text:
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row mt5">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-responsive table-hover" id="tblTankInformation">
                <thead>
                    <tr>
                        <th>Chassis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Freeport
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt10">
        <div class="row no-margin">
            <div class="col-md-12">
                <h4>On-Hire History</h4>
            </div>
        </div>
    </div>
    
    <div class="row mt5">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-bordered table-responsive table-hover" id="tblTankInformation">
                <thead>
                    <tr>
                        <th>Charge/Shipment #</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01-T3-6490169
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
